*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

nav{
    padding: 20px 10%;
}

nav ul {
    display: flex;
    align-items: center;

    
}

a{
    text-decoration: none;
}

nav ul li:hover{
    text-decoration: underline;
    font-weight: 900;
    font-size: 40px;

}

nav ul li{
    list-style: none;
    align-items: center;
    margin-right: 5%;
    font-weight: 200;
    font-size: 30px;
}

nav ul li img{
    width: 150px;
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.left-section{
    width: 40%;
}

.left-section h1{
    font-size: 60px;
}

.left-section p{
    margin: 5% 0;
    font-size: 30px;
}

button{
    background-color: rgb(18,155,155);
    padding: 15px 20px;
    cursor: pointer;
    color: white;  
    border: 1px solid white;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
}
button:hover{
    background-color: white;  
    color: rgb(18,155,155);
    border: 1px solid black;
}

.right-section{
    padding: 7%;
    
}
.right-section div img:first-child{
    margin-right:20px;

}
.right-section div{
    margin-bottom: 20px;
}


